h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Goblin One", cursive;
}

p,
.p {
  font-family: "Noto Serif", serif;
}

:root {
  --verdone: rgb(56, 102, 65);
  --verde: rgb(106, 153, 78);
  --panna: rgb(242, 232, 207);
  --mattone: rgb(188, 71, 73);
}





.nav-custom {
  background-color: var(--verdone);
  color: var(--panna);
}

.nav-link {
  color: var(--panna);
}

.logo {
  width: 4%;
}

/* Video header startboostrap */
header {
  position: relative;
  background-color: black;
  height: 70vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}




/*bottone esterno create birra*/
button {
  border: 0;
  background: var(--panna);
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 1em 1em 1em 3em;
  position: relative;
  overflow: hidden;
  font-size: 17px;
  font-family: inherit;
  border-radius: 12px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

button svg {
  position: absolute;
  left: 0.4em;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

button:hover svg {
  transform: rotateY(-180deg) translateX(-0.25em);
}

button:active {
  transform: scale(0.98);
}

/* Button trash */
.trash{
  background: none;
}